<!doctype html>
<html>
    <head>
        <title>Connect Me</title>
        <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/static/main.css" />
    </head>
    <body>

	<!-- Header -->
	<header id="header">
	    <h1>Connect Me</h1>
	    <p>Thank you. You will receive an email shortly with the results of your matches.</p>
	</header>

	<!-- Scripts -->
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="/static/main.js"></script>

    </body>
</html>
